* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.gallery-container {
    width: 600px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-viewer {
    margin-bottom: 20px;
}

.image-viewer img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.thumbnail {
    width: 22%;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

.thumbnail.active,
.thumbnail:hover {
    opacity: 1;
    border: 2px solid #007BFF;
}

.gallery-controls {
    margin: 20px 0;
}

.gallery-controls button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.gallery-controls button:hover {
    background-color: #0056b3;
}
